ul#animation-network-container {
  list-style: none;
  -webkit-transform: translateX(-75%);
      -ms-transform: translateX(-75%);
          transform: translateX(-75%);
}

ul#animation-network-container li {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

ul#animation-network-container li a.network {
  position: static;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

ul#animation-network-container li a.network i {
  /*width: 0;
                height: 0;
                border: 5px solid white;
                border-radius:15px;*/
  font-size: 15px;
  border-radius: 50%;
  background-color: white;
  color: black;
  width: 5px;
  text-align: center;
  line-height: 2.5;
  max-width: 100%;
}

ul#animation-network-container li .facebook {
  z-index: 1001;
  background-color: #406093;
}

ul#animation-network-container li .twitter {
  z-index: 1002;
  background-color: #12A2F8;
}

ul#animation-network-container li .dribbble {
  z-index: 1003;
  background-color: #F63E84;
}

ul#animation-network-container li .google {
  z-index: 1004;
  background-color: #E34132;
}

ul#animation-network-container:hover {
  -webkit-transform: translateX(-7%);
      -ms-transform: translateX(-7%);
          transform: translateX(-7%);
  /*it works with that percentage on my own html*/
  -webkit-transition: -webkit-transform 0s;
  transition: -webkit-transform 0s;
  -o-transition: transform 0s;
  transition: transform 0s;
  transition: transform 0s, -webkit-transform 0s;
}

ul#animation-network-container:hover li {
  -webkit-transform: translateX(-75%);
      -ms-transform: translateX(-75%);
          transform: translateX(-75%);
}

ul#animation-network-container:hover li:hover {
  -webkit-transform: translateX(-5%);
      -ms-transform: translateX(-5%);
          transform: translateX(-5%);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  -o-transition: transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}
